
.main{
    background-color: black;
    border-left: 2px solid #242731;
    border-right: 2px solid #242731;
    display: flex;
    flex-direction: column;
    padding: 35px 45px 0 45px;
    overflow-y:scroll;
    overflow-x: hidden;
    flex: 1;
}
  .main .main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-header .text{
    border-bottom: 2px solid var(--primary);
    font-family: 'Inter';
    font-weight: 600;
    font-size: 22px; 
    height: fit-content;
  }
  .main-header .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--sec);
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
  }
  .main-header .button svg{
    height: 22px;
    padding-right: 10px;
  }
  .main-header .tier{
    font-weight: 600;
    color: var(--primary);
    background-color: #A3E3FF;
    font-size: 15px;
    padding: 2px 8px 2px 8px;
    border-radius: 5px;
    margin-left: 20px;
  }
  .main .main-popup{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px 10px 30px;
    background-color: #ABE8FF;
    border-radius: 20px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
  }
  .main-popup .text{
    font-family: 'Poppins';
    font-weight: 500;
    color: #2B2557;
    font-size: 20px;
  }
  .main-popup .text .button{
    font-family: 'Inter';
    font-size: 15px;
    color: black;
    background-color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
    height: fit-content;
    width: fit-content;
    margin-top: 10px;
  }
  .main-popup img{
    height: 100px;
    transform: scale(1.3) translate(-5%,10%);
  }
  .main-popup .close{
    position: absolute;
    height: 35px;
    top: 0;
    right: 0;
    transform: translate(40%,-40%);
  }
  .rewards{
    background-color: var(--sec);
    padding:30px;
    border-radius: 20px;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;
  }
  .rewards .balance{
    display: flex;
    justify-content: space-between;
    font-size: 35px;
    font-family: 'Poppins';
    font-weight: 600;
  }
  .rewards .balance .button{
    background-color: var(--primary);
    width: fit-content;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    margin-right: 20px;
    font-weight: 800;
    font-size: 18px;
    font-family: 'Poppins';
    margin-right: 30px;
    height: 40px;
  
  }
  .rewards .balance .button svg{
    height: 22px;
    padding-right: 10px;
  }
  .indicators .i{
    font-size: 17px;
    font-weight: 600;
    background-color: #353945;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
  }
  
  .refferals{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    
  }
  .refferals .box{
    background-color: var(--sec);
    width: fit-content;
    padding: 20px;
    border-radius: 15px;
    font-family: 'Inter';
    font-weight: 500;
    color: #808191;
    font-size: 20px;
    flex-grow: 1;
  }
  .refferals .box .text{
    
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .refferals .box .text span{
    font-weight: 800;
  }
  .refferals .box .text svg{
    height: 30px;
    margin-right: 10px;
  }
  .refferals .box .link{
    margin-top: 20px;
    background-color: var(--sub);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-family: 'Inter';
    font-weight: 800;
    
  }
  .refferals .box .link svg{
    height: 25px;
  }
  .refferals .b1{
    margin-right: 20px;
  }
/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
  
/* list  */
.list{
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}
.list .tabs{
    font-family: 'Inter';
    color: #808191;
    display: flex;
    font-size: 22px;
}
.list .tabs .tab{
    margin-right: 30px;
    margin-bottom: 30px;
    padding-bottom: 5px;
}
.list .tabs .triggered{
    color: white;
    border-bottom: 2px solid var(--primary);
}
.list .header{
    display: flex;
    padding:15px 50px 15px 50px;
    background-color: var(--sec);
    font-family: 'Inter';
    color: #808191;
    border-radius: 10px;
    font-size: 13px;
    justify-content: space-between;
}
.listelement{
    background-color: rgba(36, 39, 49, 0.4);
    padding: 20px 30px 20px 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.listelement .asset{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}
.listelement .asset .logo{
    height: 50px;
    margin-right: 20px;
}
.listelement .asset .text {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
}
.listelement .asset .text .chain{
    display: flex;
    color:#808191;
    font-size: 17px;
} 
.listelement .asset .text .chain .icon{
    display: flex;
    background-color: #353945;
    font-size: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 4px 7px 4px 7px;
    border-radius: 10px;
    margin-left: 5px;
}
.listelement .asset .text .chain .icon .chain-logo{
    height: 13px;
    margin-right: 5px;
}
.listelement .amount{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    flex-grow: 1;
}
.listelement .amount span{
    font-family: 'Inter';
    color: #808191;
    font-size: 18px;
}
.listelement .user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    flex-grow: 2.3;
    transform: translateX(-3%);
}
.listelement .earning{
    display: flex;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 0;
}
.listelement .earning span{
    font-weight: 500;
    color: #808191;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listelement .earning span svg{
    height: 15px;
    margin-left: 10px;
}